@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bento{
        display: grid;
        grid-template-columns: 2rem auto auto 2rem;
        grid-template-rows: 1rem auto auto auto 1rem;
        gap: 1rem;
    }
}
